@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;1,600&family=Yeseva+One&display=swap');

:root{
  --fonte-texto: 'Montserrat', sans serif;
  --fonte-logo: 'Yeseva One', sans serif;
  --color-texto: #F3B1BF;
  --color-logo: #F8CED7;
  --cor-para-ser-trocada: white;
}

*{
  padding: 0;
  border: none;
  overflow-x: hidden;
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background-color: #2A282C;
  color: var(--cor-para-ser-trocada); /*Retirar!!*/
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo{
  height: 96px;
  width: 96px;
   /*margin top - right - bottom - left*/
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0px 30px 0px;
}

.logo-text{
  font-size: 64px;
  font-weight: 400;
  color: var(--color-logo);
  font-family: var(--fonte-logo);
}

.menu-header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-box-list{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.menu-bar-list{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 10rem;
}

.menu-bar-list li{
  margin: 20px;
  font-size: 1.5rem;
  line-height: 20px;
  font-weight: 600;
  font-family: var(--fonte-texto);
  color: var(--color-texto);
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
  border-bottom: 3px solid transparent;
}

.menu-bar-list li:hover{
  color: var(--color-logo);
  border-bottom: 3px solid var(--color-logo);
  border-radius: 1px;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
}

.name-title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

.name-title h1{
  font-family: var(--fonte-texto);
  font-size: 96px;
  font-weight: 600;
  line-height: 117px;
  padding: 10px;
  margin: 0 auto;
  color: var(--color-texto);
}

.name-title p{
  font-family: var(--fonte-texto);
  color: var(--color-texto);
  font-size: 24px;
  font-weight: 400;
}

footer{
  display: flex;
  justify-content: end;
  align-items: initial;
}

.lista-social-medias{
  display: flex;
  justify-content: center;
  margin-right: 6rem;
}


.lista-social-medias li{
  margin-right: 1rem;
  font-size: 3rem;
}

.lista-social-medias li i{
  color: var(--color-texto);
}

.lista-social-medias li i:hover{
  color: #f397ab;
}

@media all and (max-width: 500px){
  main{
    width: 100%;
  }

  .name-title{
    width: 100%;
  }

  .name-title h1{
    font-size: 50px;
  }

  .menu-header{
    display: none;
  }

  .logo{
    width: 100%;
    display: flex;
    justify-content: left;
  }
}